.mat-card-w-background {
  background-image: linear-gradient(
    to bottom right,
    #512da8,
    #673ab7,
    #d1c4e9,
    #ffc107
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //   height: 100%;
  //   width: 100%;
  top: 0;
  left: 0;
}
