<mat-sidenav-container class="sidenav-container" [@fastFade]="'in'">
  <mat-sidenav id="side-nav" #sidenav mode="over">
    <div id="top-side-nav">
      <h1 class="side-nav-title menu-title"><strong>Menu</strong></h1>
      <button id="close-side-nav-toggle" mat-button (click)="sidenav.toggle()">
        <mat-icon class="nav-bar-icon">keyboard_arrow_left</mat-icon>
      </button>
    </div>

    <button mat-button class="side-nav-btn home-btn" (click)="openUserHome()">
      Home
      <mat-icon class="menu-item-icon">home</mat-icon>
    </button>

    <button mat-button class="side-nav-btn feed-btn" (click)="openFeed()">
      Feed
      <mat-icon class="menu-item-icon">view_list</mat-icon>
    </button>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> My Recipes </mat-panel-title>
      </mat-expansion-panel-header>

      <button mat-button class="side-nav-item" (click)="openRecipeListingPage()">
        All Recipes
        <img class="nav-item-icon" src="assets/imgs/all-recipe-icon.png" alt="" />
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="side-nav-item" (click)="openFavouritesPage()">
        Favourites
        <img class="nav-item-icon" src="assets/imgs/favourites-icon.png" alt="" />
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="side-nav-item" (click)="openCreatePage()">
        Create New
        <img class="nav-item-icon" src="assets/imgs/add-new-icon.png" alt="" />
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="side-nav-item" (click)="openUploadPage()">
        Upload via Image
        <img id="upload-icon" class="nav-item-icon" src="assets/imgs/upload-icon.png" alt="" />
      </button>
    </mat-expansion-panel>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id="nav-bar-container" class="sticky">
      <button class="side-nav-toggle" mat-button (click)="sidenav.toggle()" *ngIf="authService.isLoggedIn()">
        <mat-icon class="nav-bar-icon">menu</mat-icon>
      </button>

      <h2 id="recipe-repo-title" class="menu-title">
        <strong>Recipe Repository</strong>
      </h2>

      <button id="usr-menu-icon" class="usr-menu-btn" mat-button [matMenuTriggerFor]="usrmenu">
        <mat-icon class="nav-bar-icon">person</mat-icon>
      </button>

      <mat-menu class="mat-menu-panel" #usrmenu yPosition="below" xPosition="after">
        <button class="menu-item" *ngIf="!authService.isLoggedIn()" mat-button (click)="openLogInPage()">
          <h4 class="menu-item-title">Log in</h4>
        </button>

        <mat-divider *ngIf="!authService.isLoggedIn()"></mat-divider>

        <button class="menu-item" *ngIf="!authService.isLoggedIn()" mat-button (click)="openSignUpPage()">
          <h4 class="menu-item-title">Sign up</h4>
        </button>

        <button class="menu-item" *ngIf="authService.isLoggedIn()" mat-button (click)="logout()">
          <h4 class="menu-item-title">Log out</h4>
        </button>
      </mat-menu>
    </div>

    <div class="main-content-container">
      <!-- show landing page if its root path and you aren't logged in yet -->
      <app-landing-page *ngIf="isRootPath() && !isLoggedIn()"></app-landing-page>
      <app-user-home *ngIf="isRootPath() && isLoggedIn()"></app-user-home>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>