<mat-card *ngIf="recipeBatch" [@fastFade]="'in'" class="feed-container">
    <mat-card-header>
        <mat-card-title class="listing-title">
            Recipe Feed
        </mat-card-title>
        <div [formGroup]="searchFg" id="search-div">
            <mat-form-field id="search-input" class="right-align">
                <mat-label>Search</mat-label>
                <input type="text" matInput formControlName="searchBox" (keyup)="searchByName()" />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </mat-card-header>

    <mat-card-content>
        <!-- Tags -->
        <div id="tag-list-container" *ngIf="recipeBatch.getAllTags().size > 0">
            <mat-divider></mat-divider>

            <mat-chip-list class="centered-chip-list">
                <mat-chip (click)="sortByTag(tag)" class="tag-chip" *ngFor="let tag of recipeBatch.getAllTags()">
                    {{ tag }}
                </mat-chip>
            </mat-chip-list>

            <mat-divider></mat-divider>
        </div>

        <!-- Filter indicator -->
        <mat-card *ngIf="sorted" class="filter-info-card">
            <mat-card-title>
                <mat-chip class="large-chip">
                    {{ currentTag }}
                    <button mat-icon-button type="button" aria-label="Clear filter" class="large-chip-close-btn"
                        (click)="showAllRecipes()">
                        <mat-icon class="large-chip-close-btn-icon">close</mat-icon>
                    </button>
                </mat-chip>
            </mat-card-title>
        </mat-card>

        <!-- Recipe list -->
        <div class="recipes-container">
            <div *ngFor="let recipe of listedRecipes">
                <app-recipe-list-item [recipe]="recipe" [showUserName]="true" (recipeClicked)="viewRecipe($event)">
                </app-recipe-list-item>
            </div>
            <div *ngIf="listedRecipes.length < 1" class="no-recipes-message">
                <mat-icon class="no-recipes-icon">restaurant_menu</mat-icon>
                <h3>No recipes found</h3>
                <p>Try adjusting your search or filters</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>