mat-expansion-panel {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 2rem;
}

.mat-chip-remove {
  width: 30px !important;
}

.dynamic-input-card {
  margin-left: 0.5% !important;
  margin-right: 0.5% !important;
  margin-top: 0 !important;
  margin-bottom: 2% !important;
}

.dynamic-input-card-title {
  display: inline;
}

.dynamic-input-add-btn,
.dynamic-input-remove-btn {
  box-shadow: none !important;
}

.center-btn-container {
  display: flex;
  justify-content: center;
}

.dynamic-input-add-btn {
  background-color: rgb(37, 160, 37);
  align-self: center !important;
  margin: auto !important;
}

.dynamic-input-remove-btn {
  padding: 0 !important;
  margin-top: 0.25rem;
  width: 30px !important;
  height: 50px !important;
  font-size: 0.7rem !important;
}

.dynamic-list li::marker {
  font-size: 2.5em !important;
  font-family: cursive;
}

.draggable-icon {
  padding: 2.5% 0.5%;
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.draggable-icon:active {
  padding: 2.5% 0.3%;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}