<mat-card [@fastFade]="'in'">
  <mat-card-title>New Recipe</mat-card-title>

  <mat-card-content>
    <form name="createForm" [formGroup]="createForm" (ngSubmit)="saveRecipe()">
      <mat-form-field class="block-form-field">
        <mat-label>Name</mat-label>
        <input
          type="text"
          placeholder="e.g. Grandma's Apple Crumble"
          matInput
          formControlName="name"
        />
      </mat-form-field>

      <!-- Image upload section -->
      <mat-expansion-panel>
        <mat-expansion-panel-header class="mat-card-title-small">
          <mat-panel-title>Upload Images *</mat-panel-title>
          <mat-panel-description
            >Images cannot be changed once uploaded to a
            recipe</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div class="mat-card-content-center">
          <button mat-raised-button color="primary" type="button">
            <label class="file-input-label">
              <input
                class="file-input"
                accept="image/*"
                type="file"
                multiple="multiple"
                (change)="onFileSelected($event)"
                required
                #uploader
              />
              <span>Select files</span>
            </label>
          </button>

          <button
            (click)="removeUploads()"
            class="file-upload-remove-btn"
            mat-fab
            color="warn"
            type="button"
          >
            <mat-icon>close</mat-icon>
          </button>

          <h4>{{ selectedImageNames.length }} files selected:</h4>
          <div *ngFor="let fileName of selectedImageNames">
            <p>{{ fileName }}</p>
          </div>

          <div *ngIf="selectedImagePaths.length > 0">
            <div class="img-container" *ngFor="let img of selectedImagePaths">
              <img class="recipe-img" [src]="img" alt="uploaded image" />
            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <!-- Additional Information -->
      <mat-expansion-panel>
        <mat-expansion-panel-header
          >Additional Information
        </mat-expansion-panel-header>

        <div class="flex-input-group">
          <mat-form-field class="flex-input-field">
            <mat-label>Prep Time ( min )</mat-label>
            <input
              type="number"
              placeholder="e.g. 30"
              matInput
              formControlName="prepTime"
            />
          </mat-form-field>

          <mat-form-field class="flex-input-field">
            <mat-label>Cook Time ( min )</mat-label>
            <input
              type="number"
              placeholder="e.g. 60"
              matInput
              formControlName="cookTime"
            />
          </mat-form-field>

          <mat-form-field class="flex-input-field">
            <mat-label>Oven Tempurature ( &#176;F )</mat-label>
            <input
              type="number"
              placeholder="e.g. 350"
              matInput
              formControlName="ovenTemp"
            />
          </mat-form-field>
        </div>

        <mat-form-field class="block-form-field">
          <mat-label>Description</mat-label>
          <textarea autosize matInput formControlName="description"> </textarea>
        </mat-form-field>

        <mat-form-field class="block-form-field">
          <mat-label>Notes</mat-label>
          <textarea autosize matInput formControlName="notes"> </textarea>
        </mat-form-field>

        <mat-form-field class="block-form-field">
          <mat-label>Add Tags</mat-label>
          <mat-chip-list #chipList aria-label="Tag selection">
            <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)">
              {{ tag }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
              placeholder="New tag..."
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addTag($event)"
            />
          </mat-chip-list>
        </mat-form-field>
      </mat-expansion-panel>

      <!-- Buttons -->
      <div class="btn-container">
        <button
          class="std-btn"
          type="button"
          mat-raised-button
          color="warn"
          (click)="goBack()"
        >
          Cancel
        </button>

        <button
          class="std-btn"
          mat-raised-button
          color="primary"
          id="login-submit-btn"
          type="submit"
          [disabled]="createForm.invalid"
        >
          Save
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
