label.file-input-label input[type='file'] {
  position: absolute;
  top: -1000px;
}

h4 {
  margin-top: 2%;
  margin-bottom: 2%;
}

mat-expansion-panel {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 2rem;
  }

@media only screen and (max-width: 500px) {
    mat-panel-title, mat-panel-description {
        font-size: 3.2vw !important;
    }
}
