/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-card-title {
  margin-top: 5%;
  margin-left: 1%;
  text-align: left;
  padding-top: 2%;
  padding-bottom: 2%;
}

mat-card {
  margin: auto;
  margin-top: 2% !important;
  margin-bottom: 2% !important;
  max-width: 1000px;
  align-self: center !important;
}

.main-content-container {
  margin: 3%;
}

mat-form-field {
  margin-bottom: 2% !important;
}

label {
  padding-bottom: 0.5% !important;
}

.mat-form-field-outline {
  background-color: white !important;
}

.block-form-field {
  display: block !important;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.flex-input-group {
  display: flex;
  width: 100%;
  // making the inputs take up the full width of the flex container
  // also shrinks when the screen width is too small
  max-width: none;
  min-width: 5%;
  justify-content: space-between;
  gap: 0.5rem;
}

.flex-input-field {
  width: 100%;
  max-width: none;
  min-width: 5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

mat-label,
mat-error {
  font-size: larger !important;
}

mat-card-footer {
  font-size: large !important;
  text-align: center !important;
  margin: 2% !important;
}

.error-message {
  text-align: center !important;
  color: red !important;
}

div.mat-simple-snackbar-action {
  color: rgb(64, 185, 84) !important;
}

mat-divider {
  width: 90% !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
  margin-top: 3% !important;
  margin-bottom: 3% !important;
}

.full-screen-container {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  margin: 1%;
  margin-top: 3%;
}

.std-btn {
  margin: 1% !important;
  width: 6rem !important;
  height: 2.8rem !important;
}

.small-flex-input-field {
  width: 9rem !important;
}

li::marker {
  font-size: 1rem !important;
}

.flex-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.menu-item {
  display: block !important;
  width: 150px !important;
  max-width: none !important;
}

.menu-item-title {
  text-align: center !important;
  font-size: 15px !important;
  margin: 20px !important;
}

.recipe-listing-item {
  margin-bottom: 1.5% !important;
  margin-top: 1.5% !important;
  cursor: pointer !important;
  background-color: #d1c4e9 !important;
  font-size: 3.2vw !important;
  text-align: center !important;
}

.cdk-overlay-backdrop {
  cursor: default;
}

.menu-item-icon {
  float: right !important;
}

.large-card-header {
  font-size: 40px !important;
  margin: 2% !important;
  line-height: 2.6rem !important;
}

.small-card-header {
  font-size: 1vw !important;
  margin: 2% !important;
}

.fancy-font {
  font-family: 'Poppins', sans-serif !important;
}

.white-text {
  color: #ffffff !important;
}

.text-shadow {
  text-shadow: 1px 2px 2px #3d3d3d !important;
}

.card-title-centered {
  text-align: center !important;
}

.large-btn-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.large-btn {
  margin: 1% !important;
  width: 15rem !important;
  height: 4rem !important;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.recipe-img {
  width: 100% !important;
  height: 100% !important;
}

.mat-card-title-small {
  font-size: 1rem !important;
}

.file-input {
  margin: 2rem !important;
}

.file-input-label {
  cursor: pointer !important;
}

.mat-card-content-center {
  text-align: center !important;
}

.file-upload-remove-btn {
  position: relative;
  margin-left: 2rem !important;
  height: 40px !important;
  width: 40px !important;
  padding: 0px !important;
}

.mat-button-wrapper {
  padding: 0px !important;
}

#upload-icon {
  width: 38px;
  height: 30px;
}

.file-input-label {
  position: relative;
  height: inherit;
  width: inherit;
}

.large-btn-text {
  font-size: 1.5rem !important;
}

.centered-text {
  text-align: center !important;
}

.btn-middle-text {
  text-align: center !important;
  font-size: 1.5rem !important;
  margin-top: 1.2rem !important;
}

.sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  // makes sure that the sticky element is always overtop of other content
  z-index: 1 !important;
}

.centered-chip-list {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    margin: 2%;
    margin-top: 0 !important;
  }

.right-align {
  float: right !important;
}

.recipe-listing-message {
  text-align: center !important;
  margin: 2% !important;
  margin-top: 4% !important;
  color: grey;
}

@media only screen and (max-width: 500px) {
    ::ng-deep mat-card-title {
        font-size: 1rem !important;
    }

    .menu-title {
        font-size: 1.32rem !important;
        margin-top: -0.1rem !important;
        margin-bottom: 0px !important;
        margin-left: 1rem !important;
    }

    .nav-bar-icon {
        font-size: 1.8rem !important;
        margin-top: -0.5rem !important;
    }

    .nav-item-icon {
        height: 1.5rem !important;
        margin-top: 0.4rem !important;
    }

    #upload-icon {
        width: 25px;
        height: 18px;
      }

    #nav-bar-container, #top-side-nav {
        max-height: 62px !important;
    }

    .side-nav-title {
        margin-top: 0px !important;
    }

    #close-side-nav-toggle {
        padding-right: 0px !important;
    }

    #side-nav {
        width: 200px !important;
        min-width: 200px !important;
        max-width: 250px !important;
      }

    .side-nav-btn {
        font-size: 1rem !important;
        padding-left: 0px !important;
        height: 40px !important;
    }

    .side-nav-item {
        width: 200px !important;
        min-width: 200px !important;
        max-width: 250px !important;
        height: 60px !important;
        text-align: left;
        padding-right: 3em;
        padding-top: 0px !important;
    }

    .mat-expansion-panel-header-title {
        font-size: 1rem !important;
    }

    label, mat-panel-title {
        font-size: 0.8rem !important;
    }

    .mat-chip, .large-chip {
        font-size: 0.75rem !important;
    }

    .large-btn-container .mat-button-wrapper {
        font-size: 0.7rem !important;
    }
}