<mat-card *ngIf="recipeBatch" [@fastFade]="'in'">
  <mat-card-title>My Recipes</mat-card-title>

  <!-- Tags -->
  
  
  <mat-card-content>
    <mat-divider></mat-divider>
    
    <mat-chip-list class="centered-chip-list">
        <mat-chip (click)="sortByTag( tag )" class="tag-chip" *ngFor="let tag of recipeBatch.getAllTags()">
            {{ tag }}
        </mat-chip>
    </mat-chip-list>
    
    <mat-divider></mat-divider>

    <mat-card *ngIf="sorted">
        <mat-card-title>
            <mat-chip class="large-chip">
                {{ currentTag }}
                <button
                    mat-icon-button
                    type="button"
                    aria-label="Close recipe"
                    class="large-chip-close-btn"
                    (click)="showAllRecipes()"
                >
                    <mat-icon class="large-chip-close-btn-icon">close</mat-icon>
                </button>
            </mat-chip>
        </mat-card-title>
        
        <mat-card-content>
            <div *ngFor="let recipe of listedRecipes">
              <mat-card class="recipe-listing-item" (click)="viewRecipe(recipe._id)">
                {{ recipe.name }}
              </mat-card>
            </div>
        </mat-card-content>
    </mat-card>
    <div *ngIf="!sorted">
        <div *ngFor="let recipe of listedRecipes">
            <mat-card class="recipe-listing-item" (click)="viewRecipe(recipe._id)">
            {{ recipe.name }}
            </mat-card>
        </div>
    </div>
  </mat-card-content>
</mat-card>
