
// scrollable chip list
::ng-deep .mat-chip-list-wrapper {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: scroll;
  }

.tag-chip {
    color: #ffffff !important;
    cursor: pointer !important;
    display: inline-block !important;
    margin-bottom: 2% !important;
}
  
.tag-chip:nth-of-type(odd) {
    background-color: #522da8cb !important;
}
.tag-chip:nth-of-type(even) {
    background-color: #ffa807ea !important;
}

.large-chip {
    font-size: 1.1rem !important;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: -2%;
    background-color: #3a923291;
    margin: auto;
}

.large-chip-close-btn {
    width: fit-content;
    height: fit-content;
    margin-right: -5px;
    margin-left: 2px;
}

.large-chip-close-btn-icon {
    font-size: 1rem;
    color: #5c5b5bb9;
}