
// scrollable chip list
::ng-deep .mat-chip-list-wrapper {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: scroll;
  }

.tag-chip {
    color: #ffffff !important;
    cursor: pointer !important;
    display: inline-block !important;
    margin-bottom: 2% !important;
}
  
.tag-chip:nth-of-type(odd) {
    background-color: #522da8cb !important;
}
.tag-chip:nth-of-type(even) {
    background-color: #ffa807ea !important;
}

.large-chip {
    font-size: 1.1rem !important;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: -2%;
    background-color: #3a923291;
    margin: auto;
}

.large-chip-close-btn {
    width: fit-content;
    height: fit-content;
    margin-right: -5px;
    margin-left: 2px;
}

.large-chip-close-btn-icon {
    font-size: 1rem;
    color: #5c5b5bb9;
}

mat-divider {
    margin-top: 0px !important;
    margin-bottom: 1.8% !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98% !important;
}

#search-input {
    float: right !important;
    margin-right: 5% !important;
    width: 27vw;
}

mat-card-header {
    justify-content: space-between;
}

.mat-card-header-text {
    margin-right: 0px !important;
}

mat-card-title {
    font-size: 3.5vh !important;
    width: 100% !important;
    margin-top: 10.5%;
    margin-right: 0px !important;
}

.listing-title .mat-card-header-text {
    width: 40px !important;
}